<!DOCTYPE html>
<html>
  <head>
    <base href="@(Url.Content("~/"))" />
    <title>@ViewData["Title"]</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta property="fb:app_id" content="275509216289907" /> 
    <meta property="og:type" content="website" /> 
    <meta name="twitter:site" content="@@horsespotcom">

    @Html.Raw(ViewData["Meta"])
    @Html.Raw(ViewData["Links"])

    <!-- Favicon -->
    <link rel="icon" href="~/assets/images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700|Source+Sans+Pro:300,400,700" rel="stylesheet">

    @Html.Raw(ViewData["Styles"])
  </head>
  <body>
    @RenderBody()

    <!-- Here we're passing down any data to be used by grabbed and parsed by Angular -->
    @Html.Raw(ViewData["TransferData"])
    @Html.Raw(ViewData["Scripts"])

    @RenderSection("scripts", required: false)
  </body>
</html>
