<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="x-apple-disable-message-reformatting">
</head>
<body style="margin: 0; padding: 0; background: #fff;">
    <div style="width: 100%; margin: 0 auto; background-color: #222;">
        <div style="background: #ba3326; text-align: center; padding: 20px 0;">
            <img src="https://horse-spot.com/api.horsespot/images/logo.png" alt="Horse Spot" />
        </div><!-- logo -->

        <div style="width: 80%; margin: 0 auto; background: #fff; text-align: center; padding: 35px 15px;">
            <h2 style="margin: 0; padding: 20px 0; font-size: 20px;">Hello @Model.ReceiverFirstName @Model.ReceiverLastName,</h2>
            <p style="font-size: 18px;"><b>Don't forget!</b></p>
            <p style="font-size: 15px;">There are only two days left for the appointment you made for @Model.AppointmentTitle.</p>
            <p style="font-size: 15px;">Appointment Location:</p>
            <p style="font-size: 18px;"><b>@Model.AppointmentLocation</b></p>
            <p style="font-size: 15px;">Check exact appoinment date and time in application under your account.</p>
            <br />
            <h3 style="font-size: 15px;">@Model.AdOwnerFullName Details:</h3>
            <p style="font-size: 18px;"><b>@Model.AdOwnerEmail</b></p>
            <p style="font-size: 18px;"><b>@Model.AdOwnerPhoneNumber</b></p>

            <p style="font-size: 18px;">We wish you a very succesfull meeting.</p>
        </div><!-- text -->

        <div style="width: 80%; margin: 0 auto; text-align:center; color: #fff; padding: 20px 0;">
            <a href="www.horse-spot.com" style="color:#fff; display:block; margin-bottom:10px;">www.horse-spot.com</a>
            <a href="mailto:contact@horse-spot.com" style="color:#fff; display:block; margin-bottom:10px;">contact@horse-spot.com</a>
            <a style="color:#fff; display:block; margin-bottom:10px;">400609 Cluj-Napoca, Romania</a>
            <a href="tel:0040757520997" style="color:#fff; display:block; margin-bottom:10px;">+40757520997</a>
        </div>
    </div>
</body>
</html>

